In [6]:
import pandas as pd
from pandas import DataFrame as df

In [7]:
data = pd.read_csv('/Users/aaronsavary/Documents/Coding/Machine Learning/Excell Table Data Sheets/lsd_math_score_data.csv')

In [8]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [10]:
type(data)

pandas.core.frame.DataFrame

In [12]:
math_scores = data['Avg_Math_Test_Score']

In [13]:
print(math_scores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [14]:
data['Test_Subject'] = 'Aaron'

In [15]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_Subject
0                      5     1.17                78.93        Aaron
1                     15     2.97                58.20        Aaron
2                     30     3.26                67.47        Aaron
3                     60     4.69                37.47        Aaron
4                    120     5.83                45.65        Aaron
5                    240     6.00                32.92        Aaron
6                    480     6.41                29.97        Aaron

In [19]:
data['High_Score'] = 100
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_Subject  \
0                      5     1.17                78.93        Aaron
1                     15     2.97                58.20        Aaron
2                     30     3.26                67.47        Aaron
3                     60     4.69                37.47        Aaron
4                    120     5.83                45.65        Aaron
5                    240     6.00                32.92        Aaron
6                    480     6.41                29.97        Aaron

   High_Score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [20]:
data['High_Score'] = data['High_Score'] + data['Avg_Math_Test_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_Subject  \
0                      5     1.17                78.93        Aaron
1                     15     2.97                58.20        Aaron
2                     30     3.26                67.47        Aaron
3                     60     4.69                37.47        Aaron
4                    120     5.83                45.65        Aaron
5                    240     6.00                32.92        Aaron
6                    480     6.41                29.97        Aaron

   High_Score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [21]:
data['High_Score'] = data['High_Score'] ** 2

In [22]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Aaron,32015.9449
1,15,2.97,58.20,Aaron,25027.2400
2,30,3.26,67.47,Aaron,28046.2009
3,60,4.69,37.47,Aaron,18898.0009
4,120,5.83,45.65,Aaron,21213.9225
5,240,6.00,32.92,Aaron,17667.7264
6,480,6.41,29.97,Aaron,16892.2009

In [34]:
column_list = ['LSD_ppm', 'Avg_Math_Test_Score']
clean_data = data[column_list]

# or clean_data = data['LSD_ppm', 'Avg_Math_Test_Score']

In [35]:
clean_data

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [43]:
y = data[['Avg_Math_Test_Score']]

# When you input a list into a dataframe you get a DataFrame object back. Etc [[]]
# When you input a string into a dataframe you get a series object back. Etc ['']

type(y)

pandas.core.frame.DataFrame

In [44]:
z = data['Avg_Math_Test_Score']
type(z)

pandas.core.series.Series

In [45]:
x = data[['LSD_ppm']]
print(x)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

In [46]:
del data["Test_Subject"]

In [47]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [49]:
del data["High_Score"]

In [50]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97